/* pseudoselector, no existe en el html como tal */
:root {
    /* Creamos nuestra paleta de colores de la pagina web */
    --blanco: #ffffff; /*definimos variables en css*/
    --oscuro: #212121;
    --primario: #ff9500;
    --secundario: #0097a7;
    --gris: #757575;
    /* Se puede guardar cualquier valor que vayamos a reutilizar en el codigo */
    --fuente: 1.2rem;
}


/* 
rem le dice al navegador el tamaño relativo de un elemento,
y él calcula los píxeles según el dispositivo para mantener la proporción.
esta unidad de medida es relativa al elemento root (html) que por defecto son 16px
es decir 1rem == 16px.
*/

/* Hack del rem */
html {
    /* reseteo-rem */
    font-size:  62.5%;  /* 62.5% de 16px es igual a 10px, permite 10px == 1rem*/
}

body {
    /* para que todas las fuentes que no usan rem, mantengan su tamaño por defecto */
    font-size: 16px;
}


/* clases, seleccionan a todos los elementos que tengan esta clase y aplica el estilo a todos */
.titulo {
   /* Centra el texto en el ancho que ocupe el elemento html*/
    text-align: center;
    font-size: 3.8rem; /*3.8 x 10 = 38px*/

}


/* Seleccionamos el elemento para  aplicar estilos */
.titulo span {
    /* Se aplican estos estilos a todos los elementos span que desciendan de un elemento que tenga asignada la class titulo */
    font-size: 2rem;
}


/* La especificidad es cuando los selectores compiten por aplicar un estilo cuando seleccionan al mismo elemento
y modifican la misma propiedad. el que sea mas especifico sobreescribe el estilo del otro selector */

