/* pseudoselector, no existe en el html como tal */
:root {
    /* Creamos nuestra paleta de colores de la pagina web */
    --blanco: #ffffff; /*definimos variables en css*/
    --oscuro: #212121;
    --primario: #ff9500;
    --secundario: #0097a7;
    --gris: #757575;
    /* Se puede guardar cualquier valor que vayamos a reutilizar en el codigo */
    --fuente: 1.2rem;
}


/* 
rem le dice al navegador el tamaño relativo de un elemento,
y él calcula los píxeles según el dispositivo para mantener la proporción.
esta unidad de medida es relativa al elemento root (html) que por defecto son 16px
es decir 1rem == 16px.
*/

/* Hack del rem */
html {
    /* reseteo-rem */
    font-size:  62.5%;  /* 62.5% de 16px es igual a 10px, permite 10px == 1rem*/
}

/* Estilos del body, para que se apliquen a todos los elementos */
body {
    /* para que todas las fuentes que no usan rem, mantengan su tamaño por defecto */
    font-size: 16px;
    /* Implementamos aqui, para que todos los textos implementen esta fuente que instalamos de google fonts */
    font-family: "Krub", sans-serif;
}


/* clases, seleccionan a todos los elementos que tengan esta clase y aplica el estilo a todos */
.titulo {
   /* Centra el texto en el ancho que ocupe el elemento html*/
    text-align: center;
    font-size: 3.8rem; /*3.8 x 10 = 38px*/
   
   
}


/* Seleccionamos el elemento para  aplicar estilos */
.titulo span {
    /* Se aplican estos estilos a todos los elementos span que desciendan de un elemento que tenga asignada la class titulo */
    font-size: 2rem;
}


/* La especificidad es cuando los selectores compiten por aplicar un estilo cuando seleccionan al mismo elemento
y modifican la misma propiedad. el que sea mas especifico sobreescribe el estilo del otro selector */


/* clase para centrar elementos */
.contenedor {
    width: 120rem;
    margin: 0 auto;
}

/* utily first, una clase que aplica un unico estilo */
.nav-bg {
    background-color: var(--secundario);
}


.navegacion-principal {
    /* Display flex, es para alinear los elementos hijos dentro de el. (Como se mostraran) */
    display: flex;
    flex-direction: row; /*Por defecto se alinean en fila o horizontal*/
    /* Alinea para que ocupen todo el espacio disponible en el nav horizontalmente */
    justify-content: space-around;  /*space-between: mas separacion - space-around: mas juntitos*/
   
}


.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
   /* El padding a un hijo permite que las etiquetas padre se expandan junto con el */
    padding: 1rem;
    font-size: 2rem;
}

/* Añade estilos cuando el mouse se pasa por encima */
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}


/* Media Queries, permiten añadir estilos segun el tamaño de la pantalla 
max-width: dice que llegando a ese valor se aplican, pero si se pasa dejan de aplicarse
min-width: dice que llegando a ese valor hacia arriba se aplican esos estilos

valores tradicionales: 480px y 768px
*/

@media (min-width: 480px) {
    /* Se aplican estos estilos si la pantalla llega a ese tamaño de pixeles o mas */

    /* Media queries se recomienda escribir los estilos que se van a cambiar segun el tamaño de la pantalla */
    body {
        background-color: blue;
    }
}



/* Minimo la pantalla del dispositivo sea de 768px hacia arriba se vera de esta forma la pagina web */
@media (min-width: 768px){
    body {
        background-color: cornflowerblue;
    }
}